<%if (mode === 'New') { %>
<form action="/new" method="POST" class="row g-3">
<%}%>
<%if (mode === 'Edit') { %>
<form action="<%= '/edit/'+sr.id %>" method="POST" class="row g-3">
<%}%>
<%if (mode === 'View') { %>
  <form  class="row g-3">
<%}%>
  <div class="col-12">
    <label for="createdBy" class="form-label">
      <%if (mode === 'New') { %>
        <strong> <%= mode %></strong>
      <%}%>
    <%if (mode === 'View' || mode === "Edit") { %>
      <strong><%= sr.id %></strong>
    <%}%>
    </label>
  </div>
    <div class="col-md-4">
        <label for="building" class="form-label">Building</label>
        <select <%= mode == 'View' ? 'disabled' : ''%> required id="building" name="buildingCode" class="form-select">
          <option  key=""></option>
          <% 
          for(var i=0; i < bdg.length; i++) {
          %>
          <option  value="<%= bdg[i].buildingCode %>" <%= bdg[i].buildingCode == sr.buildingCode ? 'selected' : ''%> > <%= bdg[i].name %></option>
      
          <%}%>
        </select> 
      </div>
      <%if (mode === 'Edit' || mode === 'New') { %>
      <div class="col-md-4">
        <div class="col-md-4">
          <label></label>
          <div><i style="font-size:24px" class="bi bi-plus-circle" data-bs-toggle="modal" data-bs-target="#bdgFormModal"></i></div>
      </div>
      </div>
      <% } %>
    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <textarea <%= mode == 'View' ? 'readOnly' : ''%> class="form-control" name="description" required id="description" rows="3"><%=sr.description %></textarea>
    </div>
    <%if (mode === 'View') { %>
    <div class="col-md-6">
      <label for="createdBy" class="form-label">Created By</label>
      <input type="text" value="<%= sr.createdBy %>" readonly class="form-control" >
    </div>
    <div class="col-md-4">
      <label for="createdDate" class="form-label">Created Date</label>
      <input type="text" readonly value="<%= new Date(sr.createdAt).toLocaleString('en-US') %>"class="form-control"  >
    </div>
    <div class="col-md-6">
      <label for="lastModifiedBy" class="form-label">Last Modified By</label>
      <input type="text" value="<%= sr.createdBy %>" readonly class="form-control"  >
    </div>
    <div class="col-md-4">
      <label for="lastModifiedOn" class="form-label">Last Modified On</label>
      <input type="text" class="form-control" readOnly value="<%= new Date(sr.updatedAt).toLocaleString('en-US') %>" >
    </div>
    <%}%>
    <%if (mode === 'View') { %>
    <div class="col-md-4">
      <label for="currentStatus" class="form-label">Status</label>
      <input type="text" id="currentStatus" class="form-control" readOnly value="<%=sr.currentStatus %>" >
        
    </div> 
    <%}%>
    <%if ( mode === "Edit") { %>
      <div class="col-md-4">
        <label for="currentStatus" class="form-label">Status</label>
        <select id="currentStatus" class="form-select" name="currentStatus" >
          <% 
          let options =['NotApplicable', 'Created', 'InProgress', 'Complete', 'Canceled']
          for(var i=0; i < options.length; i++) {
          %>
          <option  key="<%= options[i] %>" <%= options[i] == sr.currentStatus ? 'selected' : ''%> > <%= options[i] %></option>
      
          <%}%>
        </select>
      </div>
   
  <%}%>
  
    <div class="col-12">
      <a class="btn btn-secondary" href="/" role="Cancel">Cancel</a>
  <%if (mode === 'Edit' || mode === "New") { %>
      <button type="submit" class="btn btn-primary"><%= (mode === 'Edit'?'Save':'Create') %></button>
    <%}%>
    <%if (mode === 'View') { %>
      <a class="btn btn-primary" href=<%='/edit/'+sr.id %> role="Cancel">Edit</a>
      <%}%>
    </div>
  </form>
  <%- include('_bdgForm'); -%>