<form action="/api/servicerequest" method="POST" class="row g-3">
  <div class="col-12">
    <label for="createdBy" class="form-label">
      <%if (mode === 'New') { %>
        <strong> <%= mode %></strong>
      <%}%>
    <%if (mode === 'View' || mode === "Edit") { %>
      <strong><%= sr.id %></strong>
    <%}%>
    </label>
  </div>
    <div class="col-md-4">
        <label for="building" class="form-label">Building</label>
        <select id="building" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    <div class="col-12">
      <label for="description" required class="form-label">Description</label>
      <textarea   class="form-control" id="description" rows="3"></textarea>
    </div>
    <%if (mode === 'View') { %>
    <div class="col-md-6">
      <label for="createdBy" class="form-label">Created By</label>
      <input type="text" value="<%= sr.createdBy %>" readonly class="form-control" >
    </div>
    <div class="col-md-4">
      <label for="createdDate" class="form-label">Created Date</label>
      <input type="text" readonly value="<%= new Date(sr.createdAt).toLocaleString('en-US') %>"class="form-control"  >
    </div>
    <div class="col-md-6">
      <label for="lastModifiedBy" class="form-label">Last Modified By</label>
      <input type="text" value="<%= sr.createdBy %>" readonly class="form-control"  >
    </div>
    <div class="col-md-4">
      <label for="lastModifiedOn" class="form-label">Last Modified On</label>
      <input type="text" class="form-control"  >
    </div>
    <%}%>
    <%if (mode === 'View' || mode === "Edit") { %>
    <div class="col-md-4">
      <label for="currentStatus" class="form-label">Status</label>
      <select id="currentStatus" class="form-select" <%= mode == 'View' ? 'readOnly' : ''%>>
        <% 
        let options =['NotApplicable', 'Created', 'InProgress', 'Complete', 'Canceled']
        for(var i=0; i < options.length; i++) {
        %>
        <option  key="<%= options[i] %>" <%= options[i] == sr.currentStatus ? 'selected' : ''%> > <%= options[i] %></option>
    <%}%>
      </select>
    </div>
  <%}%>
  
    <div class="col-12">
      <a class="btn btn-secondary" href="/" role="Cancel">Cancel</a>
  <%if (mode === 'Edit' || mode === "New") { %>
      <button type="submit" class="btn btn-primary"><%= (mode === 'Edit'?'Edit':'Create') %></button>
    </div>
    <%}%>
  </form>