<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SR-Id</th>
        <th scope="col">Building</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Edit/Delete</th>
        
        
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < sr.length; i++) { %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td>
            <a href="<%= '/view/'+sr[i].id %>" data-toggle="tooltip" data-placement="top" title="<%= sr[i].id %>">
            <%= sr[i].id.substring(0,7)+'..' %>
            </a>
          </td>
          <td><%= sr[i].buildingCode %></td>

          <td><%= sr[i].description %></td>
          <td><%= sr[i].currentStatus %></td>

          <td>
            <a href="<%= '/edit/'+sr[i].id %>"><i class="bi bi-pencil-square"></i></a>
             &nbsp;
            <a href="#" onclick='onDeleteClick("<%=sr[i].id %>")'> <i  class="bi bi-trash"></i></a>
          </td>

        </tr>
     <% } %>
     
    </tbody>
  </table>